
@import url('https://fonts.googleapis.com/css2?family=Amaranth:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root{
--cor-de-fundo: #000000c4;
--cor-primaria: #02323a;
--cor-secundaria: #b9b3d6;
--cor-de-aba: #b3006e;
--fonte: "Amaranth", sans-serif;
}

*{
margin: 0;
padding: 0;

}

body{
background-color: var(--cor-de-fundo);
color: var(--cor-secundaria);
height: 100vh;
font-family: var(--fonte);

}
header{
background-color: var(--cor-primaria);
text-align: center;
}

h1{
color: var(--cor-secundaria);
font-size: 2rem;
font-weight: 700;
}

nav{

display: flex;
justify-content: center;
font-weight: 400;

}
nav a{
text-decoration: none;
color: var(--cor-de-aba);
margin: 0 2rem 1rem 0;
font-size: 1.7rem;
}

nav a:hover{
text-decoration: underline;
transform: scale(1.3);
transition: transform 2s;
}

 span{
   color: var(--cor-de-aba);
   font-weight: bold;
}
.graficos-container{
    margin: 5rem;
}
.graficos-texto{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--cor-secundaria) solid 2px;
}
